


* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/*  temporary  block borders   just in for the constructions phase  */

p  {
    background-color: blue;
}



body {
    background-color: orange;
    
}


#area1  {
   background-color: orange; 
    
}
.classes
#ids
